/* Font weight */
.text-primary {
    font-weight: 700;
}

.text-secondary {
    font-weight: 100;
}

/* Background */
.bg-dark,
.btn-dark {
    background-color: #050406;
    color: #fff;
}

/* Flex items */
.flex-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Flex columns */

.flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
    min-width: 400px;
}

.flex-columns img {
    height: 70vh;
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
    padding-bottom: 20px;
}

.flex-columns .column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.flex-columns .column-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-columns p {
    margin: 20px 0;
}

/* Section header */
.section-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    padding: 20px;
}

.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

/* Button */

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #186360;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bold;
    height: 50px;
}

.btn:hover {
    opacity: 0.9;
}